In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
import seaborn as sns 
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("./train.csv")
data1 = pd.read_csv("./test.csv")

In [ ]:
datas = pd.concat([data,data1])

In [3]:
datas = pd.read_csv("./datas.csv")

In [8]:
datas

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,1,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
129876,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
129877,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
129878,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
129879,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [ ]:
datas.pop('Unnamed: 0')

In [6]:
datas.pop('id')

0          70172
1           5047
2         110028
3          24026
4         119299
           ...
129875     78463
129876     71167
129877     37675
129878     90086
129879     34799
Name: id, Length: 129880, dtype: int64

In [6]:
datas

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,1,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
129876,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
129877,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
129878,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
129879,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

Vérifier le nombre de colonnes et de lignes

In [15]:
datas.shape

(129880, 23)

Vérifier puis supprimer les valeurs NAN

In [16]:
print("Is there any missing value?",datas.isnull().values.any())

Is there any missing value? True

In [17]:
datas.isnull().sum().sum()

393

In [18]:
datas.isnull().sum()

Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
satisfaction                           0
dtype: int64

In [19]:
datas.dropna(subset =['Arrival Delay in Minutes'],inplace=True)

In [20]:
datas.isnull().sum()

Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [21]:
datas.isnull().any()

Gender                               False
Customer Type                        False
Age                                  False
Type of Travel                       False
Class                                False
Flight Distance                      False
Inflight wifi service                False
Departure/Arrival time convenient    False
Ease of Online booking               False
Gate location                        False
Food and drink                       False
Online boarding                      False
Seat comfort                         False
Inflight entertainment               False
On-board service                     False
Leg room service                     False
Baggage handling                     False
Checkin service                      False
Inflight service                     False
Cleanliness                          False
Departure Delay in Minutes           False
Arrival Delay in Minutes             False
satisfaction                         False
dtype: bool

#replace 0 values in some columns because 0 are considered in the survey as not applicable

In [31]:
# For the Inflight entertainment:

In [32]:
datas['Inflight entertainment']=datas['Inflight entertainment'].replace(0,datas['Inflight entertainment'].mean())

In [33]:
# For the plane Cleanliness:

In [59]:
datas['Cleanliness']=datas['Cleanliness'].replace(0,datas['Cleanliness'].mean())

SyntaxError: invalid syntax (1861992411.py, line 1)

In [56]:
mean_Cleanliness = datas['Cleanliness'].mean()

In [57]:
round(mean_Cleanliness)

3

In [35]:
#Leg room service

In [36]:
datas['Leg room service']=datas['Leg room service'].replace(0,datas['Leg room service'].mean())

In [37]:
#Online boarding

In [38]:
datas['Online boarding']=datas['Online boarding'].replace(0,datas['Online boarding'].mean())

In [39]:
#Gate location

In [40]:
datas['Gate location']=datas['Gate location'].replace(0,datas['Gate location'].mean())

In [41]:
#seat comfort

In [42]:
datas['Seat comfort']=datas['Seat comfort'].replace(0,datas['Seat comfort'].mean())

In [43]:
profile = ProfileReport(datas, title ='Pandas Profiling Report', explorative=True)

In [ ]:
profile.to_file("airlineV2.html")

In [ ]:
#Satisfaction by customer type

In [28]:
plt.figure(figsize=(7,5))
sns.countplot(datas.satisfaction)
plt.xlabel('Satisfaction')
plt.ylabel('N° of passengers')
plt.title('Customers satisfaction')
plt.show()

/opt/homebrew/Cellar/jupyterlab/3.2.3/libexec/lib/python3.9/site-packages/seaborn/_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(
/var/folders/4s/1xzkd5w11955h06v5c2qb6jm0000gn/T/ipykernel_64148/2549724833.py:6: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [45]:
datas.to_csv("datas.csv", index=False)

In [76]:
clear